{% extends 'base.html' %}

{% block content %}

    <form>
      <label for="fname">First name:</label><br>
      <input type="text" id="fname" name="fname"><br>
      <label for="lname">Last name:</label><br>
      <input type="text" id="lname" name="lname">
      <button type="submit">Search</button>
    </form>

    {% for teacher in teachers_list %}
        {{ teacher.id }}
        <a href="/teachers/edit/{{ teacher.id }}">{{ teacher.first_name }} {{ teacher.last_name }}</a>
        {{ teacher.telephone }}
        <br>
    {% empty %}
        <p>Sorry, list is empty</p>
    {% endfor %}

{% endblock %}
