{% block content %}

    <form>
      <label for="fname">First name:</label><br>
      <input type="text" id="fname" name="fname"><br>
      <label for="lname">Last name:</label><br>
      <input type="text" id="lname" name="lname">
      <button type="submit">Search</button>
    </form>

    {% for student in students_list %}
        {{ student.id }}
        <a href="/students/edit/{{ student.id }}">{{ student.first_name }} {{ student.last_name }}</a>
        {{ student.email }}
        <br>
    {% empty %}
        <p>Sorry, list is empty</p>
    {% endfor %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
      <button type="submit"><a href="/students/delete/{{ student.id }}">Delete</a></button>
    </form>

{% endblock %}
