{% extends 'base.html' %}

{% block content %}

    <form>
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="course">Course:</label><br>
        <input type="text" id="spec" name="spec"><br>
        <label for="number">Students number:</label><br>
        <input type="text" id="number" name="number">
        <button type="submit">Search</button>
    </form>

{% for group in groups_list %}
    {{group.id}}
    <a href="/groups/edit/{{ group.id }}">{{group.name}} {{group.course}} {{ group.number }}</a>
    <br>

{% endfor %}

{% endblock %}
