{% extends 'base.html' %}

{% block content %}
    {{ block.super }}

    <form>
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="course">Course:</label><br>
        <input type="text" id="spec" name="spec"><br>
        <label for="number">Students number:</label><br>
        <input type="text" id="number" name="number">
        <button type="submit">Search</button>
    </form>

    {% include 'includes/groups_table.html' %}

{% endblock %}
