{% if groups_list %}
    <table border="1px">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Students number</th>
          <th>Teacher</th>
          <th>🗑️</th>
          <th>🖉</th>
        </tr>
        {% for group in groups_list %}
            <tr>
              <td> {{ group.id }}</td>
              <td> {{ group.name }}</td>
              <td> {{ group.students_number }}</td>
              <td> {{ group.teacher }}</td>
              <td> <a href="{% url 'groups:edit'  group.id %}">EDIT</a></td>
              <td> <a href="{% url 'groups:delete'  group.id %}">DEL</a></td>
        {% endfor %}
    </table>
{% else %}
    <p>Sorry, list is empty</p>
{% endif %}
